.custom-divider {
  border-color: var(--dn-brand-color);
  color: var(--dn-brand-color);
  &.ant-divider-horizontal.ant-divider-with-text {
    &::before {
      border-top-width: 4px;
    }
    &::after {
      border-top-width: 4px;
    }
  }
}
