#registry=https://registry.npmmirror.com/
# auto-install-peers=true
registry=https://registry.npmjs.com/
strict-peer-dependencies=false
//registry.npmjs.org/:_authToken=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